
<div class="row">
  <div class="col-md-4">
    <%= render :partial => "shared/categories", locals: {categories: @categories, category_active: nil} %>
  </div>

  <div class="col-md-8" id="stage">
    <%= render :partial => "shared/home", locals: {latest_products: @latest_products, recommended_products: @recommended_products} %>
  </div>

</div>

