/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require formtastic
 *= require bootstrap


 */

.nav > li > a {
  padding: 7px 10px !important;
 }

.search-box {
  margin-top: 9px;
  margin-right: 5px;
  width: 200px;
}

div.breadcrumb-wrapper {
  position: fixed;
  top: 71px;
  left:0;
  border: 1px solid #ccc;
  background: #FFFFFF;
  width: 100%;
  margin-bottom: 10px;
  box-shadow: 2px 2px 3px #ccc;
  padding: 0 -15px;
  z-index: 100;
  ol.breadcrumb {
    background: none;
    margin: 0;
  }

}

div.main-box {
  span.result-count {
    color: #777;
    font-weight: bold;
  }
  ul.results {
    padding: 0;
    list-style: none;
    div.head-search-result{
      div.title {

      }

      div.cat {
        font-size: 10px;
        font-weight: bold;
        color: #2E6C4D;
      }

      div.description {
        color: #6D6563;
      }
    }
  }
}


.label {
  color: #777 !important;
}
.main-box {
  margin-top: 120px;
}

.thumbnail > img, .thumbnail a > img {
  max-width: none !important;
}

.big-nav {
  padding: 10px 0;
}

div.devise-form {
  margin: 0 auto;
  margin-top: 150px;
  border: 1px solid #1499c9;
  box-shadow: 2px 2px 5px #ccc;
  border-radius: 5px;

  h3 {
    background-color: #0A5A80;
    margin: 0; padding: 10px;
    text-align: center;
    color: #fff;
  }

  form#new_user {
    padding: 20px;
    ol li.stringish{
      input {
        width: 316px;
        outline: none;
        border-radius: 4px;
        font-size: 12px;
        border: 1px solid #ccc;
        padding: 5px;
      }
    }

    ol li.boolean {
      width: 150px;
      float: left;
      margin-bottom: 0;
      label {
        padding-left: 0;
      }
    }

    input.btn-right {
      padding: 3px 10px;
      margin-right: 3px;
      float: right;
    }
  }
}

form.formtastic {
  margin: 20px;
  legend {
    margin-bottom: 20px;
  }

  button {
    margin: inherit;
    padding: 5px 10px;
  }

  fieldset.inputs {
    ol li.error {
      input {
        border: 1px solid #c00 !important;
      }
    }
  }
}

div.shared-link {
  margin-top: 5px;
  font-size: 12px;
}

div#cpright {
  width: 100%;
  text-align: center;
  color: #999;
  font-weight: bold;
}

a.btn-cart {
  margin-right: 5px;
  color: #fff !important;
  font-weight: bold !important;
  padding: 2px 5px;
  font-size: 12px;
}

div#box_cart {
  position: absolute;
  width: 275px;
  left: -212px !important;
  form ul {
    margin: 0; padding: 0;
    list-style: none;
    li {
      &.clearfix {
        padding: 5px;
      }

      div.name {
        color: #666;
        float: left;
        width: 175px;
        margin-top: 5px;
      }
      div.qty {
        color: #666;
        float: left;
        input {
          padding: 3px;
          margin: 0;
          width: 38px;
          float: left;
          text-align: center;
          height: 30px;
        }
      }

      div.glyphicon-trash {
        width: 50px;
        text-align: center;
        margin-top: 5px;
        cursor: pointer;
      }


      div.page-header {
        margin: 5px 0 0px !important;
      }
    }

  }
}

.notify-success {
  background-color: #0aff47;
  opacity: 0.7;
}

ul#box_user {
  right: 0;
  left: auto;
}

div.alert {
margin-top: 5px;
}

.cus-alert {
  margin: 20px !important;
}

.cart-icon-white {
  color: white;
}

.red-badge {
  color: red !important;
  background-color: white !important;
}

div.header ul li {
  margin-top: 9px;
  &.open, &:hover, &:focus {
    a span {
      color: gold;
    }

    a span.red-badge{
      background-color: gold !important;
    }

    a.email-link {
      &:hover, &:focus {
        background: none !important;
        text-decoration: underline;
        color: #fff;
      }
    }
  }
}

.group-categories {
  width: 100%;
  a.legend {
    background-color: #0A5A80;
    margin: 0; padding: 10px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
  }
}

div.cus-thumb {
  margin: 0 0 30px 0;

  a.thumbnail {
    margin-bottom: 10px;
  }

  div.product-name {
    width: 165px;
    color: #666;
    font-weight: bold;
  }
}

.page-header {
  font-weight: bold;
  color: #666;
}

a.thumbnail {
  &:hover, &:focus, &:active {
    box-shadow: 2px 2px 3px #ccc;
  }
}

table {
  tr td a.thumbnail {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 550px) and (min-width: 361px) {
  .app-logo img {
    width: 200px;
  }
}

@media only screen and (max-width: 410px) {
  .app-logo img {
    width: 250px;
    background-size: 100%;
  }
}

.pagination {
  span {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    //padding: 5px 8px;
    a {
      padding: 5px 8px;
    }
  }

  span:first-child {
    border-left: 1px solid #ccc;
  }
}

div.title {
  color: #444;
  margin-top: 20px;
}

.price {
  color: #c00;
}

div.jumbotron {
  p.description {
    margin-top: 20px;
  }
}

footer {
  background-color: #222;
  clear: both;
  border-top: 1px solid #dadada;
  height: 100px;
  p {
    color: #fff;
    margin-top: 20px;
  }
}

